<div class="container d-flex justify-content-center align-items-center">
  <div>
    <h1 class="pinkish text-center">Contact Our</h1>
    <h1>Customer Support Center</h1>
  </div>
  
  <div>
    <img src="/assets/macimg.png" alt="macbook">
  </div>
</div>

<div class="text-center">
  <h2>Contact Information</h2>
  <p>Please fill out your contact Information below</p>
</div>

<div class="d-flex justify-content-center">
  <div class="d-flex w-75">
    <div class="d-flex-column w-100">
      <div class="p-2">
        <label class= "d-block required" for="Name">Name</label>

        <div class="d-flex">
          <div>
            <input class= "" type="text" id="Name">
            <p class="deftext">First Name</p>
          </div>
          
          <div class="input1">
            <input class= "" type="text">
            <p class="deftext">Last Name</p>
          </div>
          </div>
        </div>
        
      
      <div class="p-2">
        <label class= "d-block required" for="Email">Email</label>
        <input class= "d-block w-100" type="text" id="Email">
      </div>
      
      <div class="p-2">
        <label class= "d-block required" for="Phone">Phone</label>
        <input class= "d-block w-100" type="text" id="Phone">
      </div>
      
      <div class="p-2">
        <label class= "d-block required" for="Address">Address</label>
        <input class= "d-block w-100" type="text" id="Address">
      </div>
      
      <div class="p-2 m-3 text-center">
        <button class="btn btn-lg pinkbtn text-white rounded-0">SUBMIT FORM</button>
      </div>
    </div>
  </div>  
</div>



